@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: #000000;
}

p {
	color: #3a3a3a;
}

main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "posts sidebar";
}

.content {
	grid-area: posts;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "post post";
}

.sidebar {
	grid-area: sidebar;

	background-color: aquamarine;
}

.homePageImage {
	opacity: 1;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.homePageImage:hover {
	opacity: 0.6;
}

.readMoreButton {
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease-in-out;
	color: white;
}

@layer components {
	.navbar-link {
		@apply hover:text-customBlue text-lg hover:border-b-2;
	}
	.navbar-li {
		@apply inline p-3 text-center;
	}
	.navbar-ul {
		@apply list-none text-center mt-4;
	}
	.active {
		@apply border-b-2 text-customBlue;
	}
	.logo {
		@apply max-h-full w-4/6 m-auto lg:w-2/5;
	}
	main {
		@apply container mx-auto px-4 block lg:grid lg:grid-cols-4;
	}
	.singlePostHomepage {
		@apply m-auto w-11/12 mb-8 grid;
	}
	.homepageTitle {
		@apply text-center font-light text-2xl mb-2 hover:text-customBlue;
	}
	.homePageImage {
		@apply grid m-auto my-2;
	}
	.homepageDate {
		@apply text-center font-extralight text-sm;
	}
	.readMoreButton {
		@apply text-center m-auto w-max cursor-pointer p-3 bg-customBlue hover:bg-customBlue-light mt-4 rounded;
	}
}

@media (max-width: 1024px) {
	main {
		display: block;
	}
	.sidebar {
		display: none;
	}
}

@media (max-width: 768px) {
	.content {
		display: block;
	}
	.main-nav-desktop {
		display: none;
	}
	#burger {
		display: block;
	}
}
@media (min-width: 768px) {
	#burger {
		display: none;
	}
}
